---
import "aos/dist/aos.css";
import "@/styles/global.css";
import Head from "@/components/global/Head.astro";
import removeEmptyKeys from "@/lib/utils/removeEmptyKeys";
import Header from "@/components/global/header/Header.astro";
import type { JSONLDProps } from "@/lib/utils/JsonLdGenerator";
import HelperButtons from "@/components/utilities/HelperButtons.astro";
import BreakpointIndicator from "@/components/widgets/BreakpointIndicator.astro";
import FooterThree from "@/components/global/FooterThree.astro";
import GlobalScripts from "./components/widgets/GlobalScripts.astro";

interface Props extends JSONLDProps {
  className?: string;
  fitToScreen?: boolean;
  footerSpaceTop?: boolean;
  headerPosition?: "fixed" | "static" | "sticky";
  hasHeaderDarkBackground?: boolean;
  hasBodyDarkBackground?: boolean;
  hideOffcanvas?: boolean;
  draft?: boolean;
  metaTitle?: string;
  metaDescription?: string;
  robots?: string;
  excludeFromSitemap?: boolean;
  customSlug?: string;
  canonical?: string;
  keywords?: string[];
  disableTagline?: boolean;
  structuredData?: Props;
  footerLayout?: "footer-1" | "footer-2" | "footer-3";
}

// destructure frontmatter
let {
  className,
  structuredData,
  headerPosition = "sticky",
  hideOffcanvas = false,
  hasHeaderDarkBackground = false,
  hasBodyDarkBackground = false,
  footerSpaceTop = true,
  footerLayout = "footer-3",
  fitToScreen = true,
} = Astro.props;

// Exclude empty key value weather it may empty string, object or array from Astro.props
let props = removeEmptyKeys(Astro.props);

// Conditionally add min-h-[102vh] class to prevent FOUC (flash of unstyled content) while fast navigation
className = fitToScreen
  ? (className ? className + " " : "") + "fit-to-screen"
  : className;
---

<!doctype html>
<html lang="en">
  <Head {...props} structuredData={structuredData} />
  <body class:list={[hasBodyDarkBackground && "bg-body-dark"]}>
    <Header
      position={headerPosition}
      hasDarkBackground={hasHeaderDarkBackground}
      hideOffcanvas={hideOffcanvas}
    />

    <main class:list={[className]}>
      <slot />
    </main>

    {
      footerLayout === "footer-1" ? (
        <div class="py-8 text-center text-sm text-gray-400 italic">
          "Footer Layout One" is only available in the Pro version. Purchase
          Folex premium version to unlock this layout.
        </div>
      ) : footerLayout === "footer-2" ? (
        <div class="py-8 text-center text-sm text-gray-400 italic">
          "Footer Layout Two" is only available in the Pro version. Purchase
          Folex premium version to unlock this layout.
        </div>
      ) : footerLayout === "footer-3" ? (
        <FooterThree footerSpaceTop={footerSpaceTop} />
      ) : null
    }

    <HelperButtons />
    <GlobalScripts />
    <BreakpointIndicator />
  </body>
</html>
